asgiref==3.3.4
astroid==2.9.0
autopep8==1.6.0
Babel==2.9.1
bcrypt==3.2.0
certifi==2021.10.8
cffi==1.14.5
charset-normalizer==2.0.7
click==8.0.3
decorator==5.1.0
dj-database-url==0.5.0
Django==3.2.4
django-cors-headers==3.10.0
django-heroku==0.0.0
djangorestframework==3.12.4
Flask==2.0.2
future==0.18.2
geocoder==1.38.1
gunicorn==20.1.0
idna==3.3
isort==5.10.1
itsdangerous==2.0.1
Jinja2==3.0.2
lazy-object-proxy==1.6.0
MarkupSafe==2.0.1
mccabe==0.6.1
pep8==1.7.1
Pillow==9.0.0
platformdirs==2.4.0
psycopg2-binary==2.9.3
pycodestyle==2.8.0
pycparser==2.20
pylint==2.12.1
python-decouple==3.5
python-dotenv==0.19.2
pytz==2021.1
ratelim==0.1.6
requests==2.26.0
six==1.16.0
sqlparse==0.4.1
tkcalendar==1.6.1
toml==0.10.2
typing_extensions==4.0.1
urllib3==1.26.7
Werkzeug==2.0.2
whitenoise==5.3.0
wrapt==1.13.3
